* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Hero section */
.hero-section {
    height: 100vh;
    background-size: cover;
}

/* Nav */
nav {
    height: 70px;
    background: rgb(255, 255, 255);
    color: rgb(18, 31, 67);
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.nav-items,
.overview,
.account,
.account1 {
    display: flex;
}

.overview {
    margin-right: 23rem;
}

.logo h2 {
    text-decoration: overline;
    font-style: italic;
    color: #0CA3E4;
    cursor: pointer;
    margin: 0 0.5rem;
    margin-top: 1px;
    margin-left: 10px;
}

nav li {
    list-style: none;
    margin: 0 1rem;
}

nav a {
    text-decoration: none;
    color: rgb(26, 11, 73);
}

nav a:hover {
    color: #0F3A5E;
}

nav a::after {
    content: "";
    display: block;
    height: 3px;
    background: #0F3A5E;
    width: 0%;
    transition: all ease-in-out 300ms;
}

nav a:hover::after {
    width: 100%;
}

.account {
    border-radius: 1em;
}

.account1 {
    
    margin-left: 10px;
    border-radius: 10px;
    
}

.account1 li a {
    color: white;
    text-decoration: none;
}

.account1 li a::after {
    background: #0F3A5E;
}

/* Nav button styling */
nav .nav-items .account1 button {
    background-color: #0CA3E4;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    transition: background-color 0.3s ease-in-out;
}

nav .nav-items .account1 button:hover {
    background-color: #0F3A5E;
}

nav .nav-items .account1 button a {
    text-decoration: none;
    color: white;
}



#video-container {
    display: flex;
    justify-content: center; /* Center the video horizontally */
    align-items: center; /* Center the video vertically */
    min-height: 70vh; /* Ensure the container takes up at least the full viewport height */
   
}

iframe {
    max-width: 100%;
    max-height: 100%;
}


footer {
    background-color: #0F3A5E;
    color: white;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.logo-and-text {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.logo-and-text p {
    margin: 0;
}

.footer-content ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer-content ul li {
    margin: 0 10px;
}

.footer-content ul li a {
    color: white;
    text-decoration: none;
}

.footer-content ul li a:hover {
    text-decoration: underline;
}

.social-media {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.social-media li {
    margin-left: 10px;
}

.social-media li a {
    color: white;
    text-decoration: none;
}

.social-media li a:hover {
    text-decoration: underline;
}